/* src/main.css */
@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

h1 {
  @apply .text-blue-500;
}


h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(73, 73, 73);
}

h1 + h2 {
  margin-top: 0px;
}

h3 {
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
}
